name: Commit comments
on:
  push:
    branches:
      - main

jobs:
  comments:
    name: Commit comments
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Comment on commit
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
        run: |
          chmod +x comment-diff.sh
          ./comment-diff.sh resource
